.slide-in-left {
    animation: slideInLeft 1.6s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}